*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
    font-family:'Courier New', Courier, monospace;
}

:root{
    --gradient-color:linear-gradient(to right, rgb(0, 255, 238), rgb(166, 0, 166));
}




/* Form Section */
.form-section{
    background-image:var(--gradient-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding:50px 10px;


}

.form-container{
    width: 500px;
    margin: auto;
    padding: 1em;
    background-color:aliceblue;
}

form{
    h2{
        text-align: center;
        padding: 0.5em 0;
    }

    fieldset{
        margin:1em 0;
        border-color:black;
        padding: 10px;
        border-radius: 3px;
    }

    input{
        width:100%;
        padding:10px 5px;
        border-radius: 3px;
    }

    input:focus{
        outline: none;
        border-color: var(--gradient-color);
    }

    button{
        width: 100%;
        padding: .5em 3em;
        background-image: var(--gradient-color);
        color: white;
        text-transform: uppercase;
        font-size: 1em;
    }

    .signup{
        margin:1em;
        text-align: center;
    }

    a{
        text-decoration: none;
    }
}

/* footer */

footer{
    background-color: #333;
    color: white;
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}

@media screen and (max-width:767px){
    footer{
        flex-wrap: wrap;
        justify-content: center;
        column-gap:5rem;
    }

    .col{
        margin:30px 0;
    }

    .copyrights{
        margin-bottom: 70px;
    }
}

@media screen and (max-width:485px){
    footer{
        flex-wrap: wrap;
        justify-content: center;
    }
    .col{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    span{
        display: block;
        width: 10% !important;
        border:1px solid rgb(212, 1, 163);
        border-radius: 10px;
        margin-bottom: 1rem;
    }
}



.title{
    font-size: 1.25rem;
    text-transform: capitalize;
}

span{
    display: block;
    width: 40%;
    border:2px solid rgb(212, 1, 163);
    border-radius: 10px;
    margin-bottom: 1rem;
}

.col ul li{
    list-style:none;
    padding: 3px 0;
}

.copyrights{
    background-color:purple;
    color: yellow;
    padding: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
}